<div class="fancybox-overlay fancybox-overlay-fixed" style="width: auto; height: auto; display: none;">
    <div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened" tabindex="-1" style="width: 132px; height: auto; position: absolute; top: 114px; left: 608px; opacity: 1; overflow: visible; display: block;">
        <div class="fancybox-skin" style="padding: 15px; width: auto; height: auto;">
            <div class="fancybox-outer">
                <div class="fancybox-inner" style="overflow: auto; width: 102px; height: 100px;">
                    <div id="popup-noti" class="small_pp" style="display: block;">
                        <div class="text-center pp_content small_pp">
                            <p id="content-msg">User Required!</p>
                            <div class="fancybox_confirm" style="display:none;">
                                <input class="btn-primary fancyConfirm_ok" type="button" value="OK">
                                <input class="btn-primary fancyconfirm_cancel" type="button" value="CANCEL">
                            </div>
                        </div>
                    </div>
                </div>
            </div><a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>
        </div>
    </div>
</div>