<div id="popup-noti" class="small_pp" style="display:none">
    <div class="text-center pp_content small_pp">
        <p id="content-msg"></p>
        <div class="fancybox_confirm" style="display:none;">
            <input class="btn-primary fancyConfirm_ok" type="button" value="OK">
            <input class="btn-primary fancyconfirm_cancel" type="button" value="CANCEL">
        </div>
    </div>
</div>