<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <nav aria-label="breadcrumb" class="nav-breadcrumb d-none d-lg-flex">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="{{ path(url_breadcrumb_parent|default('admin_dashboard')) }}">{{ breadcrumb_parent|default('Dashboard') }}</a></li>
                    {% if breadcrumb is defined %}
                    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb }}</li>
                    {% endif %}
                    
                </ol>

            </nav>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://deanvote.silkwires.com" title="Go to Front page">
                        <i class="icon-home icons"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Home</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_logout') }}" title="Logout">
                        <i class="icon-logout logout-rotated icons"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Logout</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
