<section class="fix-formations">
    <div class="container">
        <div class="text-center">
            <h4 class="title-ct-line">Why should I vote?</h4>
            <ul class="listwhy">
                <li>
                    <p>I am the Dean/Director/Rector of one of Eduniversal business schools’ network.</p>
                </li>

                <li>
                    <p>It is important to acknowledge achievements and performance.</p>
                </li>

                <li>
                    <p>I want to take an active role in the development and success of business schools and universities
                        internationally.</p>
                </li>

                <li>
                    <p>I think that this classification is unconventional, it truly captures the sense of initiative and
                        creative efforts beyond the internationally agreed upon criteria.</p>
                </li>

                <li>
                    <p>I would like to contribute to the reinforcement of the Eduniversal community.
                </li>

                <li>
                    <p>I find it important that all deans (where possible) participate so that the results are
                        conclusive.
                    </p>
                </li>
                <li>
                    <p>
                        I can choose the way I manage my vote : 1) <b>I reserve myself the right to vote</b> ; 2) <b>I
                            consult
                            with faculty members to make a collegial vote</b> ; or 3) <b>I would like to delegate my
                            right to
                            vote to another colleague</b>.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>