<section class="sec-key-facts">
    <div class="container">
        <div class="row">
            {# <div class="col-md-6">
                <img src="{{ asset(asset_web_image_dir) }}/keyfacts-1.jpg">
            </div>
            <div class="col-md-6">
                <img src="{{ asset(asset_web_image_dir) }}/keyfacts-2.jpg">
            </div> #}
            <div class="col-md-12 col-xs-12">
                <img src="{{ asset(asset_web_image_dir) }}/key-facts.png">
                {# <img src="{{ asset(asset_web_image_dir) }}/keyfacts.svg"> #}
            </div>
        </div>
    </div>
</section>