{% extends web_layout_dir ~ "\/" ~ "base.html.twig" %}
{% set title = "foget password - Dean's vote 2020, Eduniversal Evaluation Agency" %}

{% block main_content %}
<main id="main" class="underpage">
    <div class="container">
        <div class="fogot-pass">
            <span style="color: red"></span>
            <h2 class="title-ct-line">FORGOT YOUR PASSWORD?</h2>
            <p>Enter your the email address and we’ll send you a new password </p>

            <form id="forget-password" action="{{ path('dean_update_password') }}" method="post">
                <input type="text" placeholder="Email *" name="email">
                <span class="g_mid_button"><input type="submit" value="Submit" class="btn-primary button_login" name="btnForgetPass"></span>
            </form>
            
            <p class="font-xs"><i>*Please check you inbox or spam/junk folder to retrieve the password.</i></p>
        </div>
    </div>
</main>
{% endblock %}

{% block javascript %}
    {% include web_dean_dir ~ "\/" ~ "javascript/forget_password_js.html.twig" %}
{% endblock %}
