<!-- popup quang cao -->
<div class="modal fade modal-convention in" id="conventionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="wp-modal-content">
            <div class="text-center popup-headline">
                <p>THE SPECIAL EARLY BIRD RATES WILL END ON JUNE 7<sup style="font-weight: bold;">TH</sup></p>
            </div>

            <button type="button" class="btn-close-pp" data-dismiss="modal"><span class="lnr lnr-cross"></span></button>
            <div class="bg-left d-none d-sm-none d-md-none d-lg-block"></div>
            <div class="modal-content-right text-center"
                style="border-radius: 0; margin-top: 50px; padding-bottom: 1rem;">
                <img src="{{ asset('web') }}/images/convention-2020/logo_lisbon.png" alt="" width="200">
                <p style="margin-top: 30px;">
                    <span class="text-uppercase" style="font-size: 16px; color: #8ac100; font-weight: bold;">The soft
                        skills
                        of the now, are the hard skills of the future.</span><br />
                    <span class="text-center" style="font-size: 16px; font-weight: 400;">How does that inspire
                        you?</span><br />
                    <span class="text-center" style="font-size: 16px; font-weight: 400;">Come and discuss it with other
                        Deans
                        from the best Business Schools.</span>
                </p>
                <p class="text-uppercase">
                    <big style="font-family: 'Oswald', sans-serif;">When:</big><br>
                    <b>FROM 8 TO 11 NOVEMBER</b><br>
                    <br>
                    <big style="font-family: 'Oswald', sans-serif;">Where:</big><br>
                    <span style="color:#8AC100">LISBON, PORTUGAL</span><br>
                    <br>
                    <big style="font-family: 'Oswald', sans-serif;">Event Hosted By:</big><br>
                    <b>NOVA SCHOOL OF BUSINESS & ECONOMICS</b>
                </p>
                <p class="text-small">An opportunity to also share Key lessons and best practices from the COVID 19
                    crisis.<br /><br />
                    <span class="text-center text-uppercase"
                        style="font-family: 'Oswald', sans-serif; color: #8ac100;">Be
                        part of the program!</span></p>
                <a href="https://convention.eduniversal.com/" target="_blank" class="btn btn-call-action"> For more
                    details
                    <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
            </div>
            <div class="bg-footer"
                style="background: url({{ asset('web') }}/images/convention-2020/bg-border.jpg) !important"></div>
        </div>
    </div>
</div>