body {
  color: #63637D;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}
b {
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}
p {
  margin-bottom: 0;
}
a {
  color: #252525;
}
.btn.focus, .btn:focus {
  box-shadow: none;
}
a:hover {
  color: #252525;
}
.left-img img {
  height: 100vh;
  max-width: unset;
}
.inner-login-w {
  background: #FBFBFC;
}
.inner-login-w.container {
  max-width: 100%;
  padding-left: 0;
}
.logo-login {
  text-align: center;
  margin-bottom: 10px;
}
.inner-login .form-group .form-control {
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: 1px solid #9999B1!important;
  border-radius: 1px;
  padding: 0 0 10px 0;
}
.inner-login .form-group {
  margin-bottom: 50px;
}
.inner-login .form-group .form-control::placeholder {
  color: #63637D;
  font-size: 16px;
}
.inner-login .form-control:focus {
  box-shadow: none;
}
.for-got {
  float: right;
}
.inner-login {
  background: #fff;
  border-radius: 9px;
  padding: 60px 40px 150px;
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
  -webkit-box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
  -ms-box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
}
.inner-login .ttl2 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 80px;
}
.button-forgot {
  margin-top: -15px;
}
.button-forgot .btn-login {
  background: #B57A3B;
  border-radius: 18px;
  padding: 5px;
  display: inline-block;
  min-width: 100px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 1px 
}
.button-forgot .btn-login:hover {
  background-color: #3e446e;
  color: #FFFFFF;
}
.icon-home-lg .icon-home {
  font-size: 18px;
}
.icon-home-lg .nav-link:hover {
  background-color: #eee;
  border-radius: 0.1875rem;
  color: #33385A;
}
.icon-home-lg {
  position: absolute;
  top: 20px;
  right: 30px;
}
.form-login {
  position: relative;
}
.thumb-log {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
@media (max-width: 1058px) {
  .inner-login {
    padding: 20px 40px 50px;
  }
  .inner-login .ttl2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .inner-login .form-group {
    margin-bottom: 15px;
  }
  .button-forgot {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .left-img img {
    display: none;
  }
  .thumb-log {
    position: relative;
  }
  .inner-login-w.container {
    padding-left: 15px;
  }
  .icon-home-lg {
    right: 10px;
  }
}