<section class="wp_login" id="sec-form-login">
    <div class="container">
        <!-- <h5 class="head">Start your voting session 2020</h5> -->
        <h5 class="head">Voting Session 2020 - OPEN</h5>

        <form action="" method="POST" onSubmit="return validate_login()">
            <div class="mb-block">
                <div class="frgroup">
                    <span><i class="sprite sprite-ic-admin"></i>Login:</span><input class="input-default ip-name"
                        type="text" id="username" name="username" autocomplete="off">

                </div>
                <div class="frgroup">
                    <span><i class="sprite sprite-ic-pass"></i>Password:</span><input class="input-default ip-password"
                        type="password" name="password" id="password" autocomplete="off">
                </div>
            </div>
            <div class="frcaptcha">
                <span>Security Code</span>
                <a href="javascript:void(0)">
                    <img class="btn-refresh" id="refeshcode" src="{{ asset('web') }}/images/refresh.png">
                </a>
                <span id="refresh-captcha">
                    <img width="90" height="38" alt=""
                        src="{{ asset('web') }}/captcha/images/95a6678b52b6e5122474417f341a6bf5.png" /><input type="hidden"
                        name="id_captcha" value="bb2f96a3a28e93b91d6988313cefec36"> </span>
                <input class="input-default ip-code" type="text" name="validate_string" placeholder="">
            </div>
            <input type="hidden" name="hidden_login" value="login">
            <button class="btn-primary" type="submit">Sign In</button>
            <a href="/content/forget-password" class="link-forgot">Forgot your Password ?</a>
        </form>
    </div>
</section>