<footer id="footer">
    <div class="container">
        <div class="l-footer">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo-f">
                        <a href="/" target="_blank" class="wp_pos_logo">
                            <img src="{{ asset('assets/web') }}/images/logo-ees-primary.svg" alt="">
                        </a>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li>
                                <a class="footer_facebook wow zoomIn" data-wow-delay=".2s" target="_blank"
                                    href="https://www.facebook.com/EduniversalEEA/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="footer_twitter wow zoomIn" data-wow-delay=".3s" target="_blank"
                                    href="https://twitter.com/EduniversalEEA">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="footer_linkedin wow zoomIn" data-wow-delay=".4s" target="_blank"
                                    href="https://www.linkedin.com/company/smbg-eduniversal/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a class="footer_pinterest wow zoomIn" data-wow-delay=".5s" target="_blank"
                                    href="http://www.pinterest.com/eduniversal/">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.eduniversal-eea.com/rgpd.html?language=en" target="_blank"
                                    style="font-weight: bold;">GDPR Compliance</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer-r col-md-8">
                    <p class="img-edu"><img src="{{ asset('assets/web') }}/images/eduniversal-logo.png" alt=""></p>
                    <a href="http://www.eduniversal-deans-vote.com/" class="link-edu">www.eduniversal-deans-vote.com</a>
                    <p class="copy-right">EDUNIVERSAL DEAN'S VOTE. Copyright © 2020. All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /#Footer -->