<!DOCTYPE html>
<html lang="en">
    <head>
        {% include web_layout_dir ~ "global/stylesheets.html.twig" %}
        {% block matomo %}{% endblock %}
    </head>
    <body>
        {# ===== header menu ===== #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include web_layout_dir ~ "partial/header_voting_session.html.twig" %}
        {% else %}
            {% include web_layout_dir ~ "partial/header.html.twig" %}
        {% endif %}
        
        {% block main_content %}{% endblock %}

        {% include web_layout_dir ~ "partial/footer.html.twig" %}
        {# =================== #}
        {% include web_component_dir ~ "loading_spiner/loading_spiner.html.twig" %}

        {{ include(web_layout_dir ~ 'global/js_footer.html.twig') }}

        {% block javascript %}{% endblock %}
    </body>
</html>