<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "web/layout/stylesheets.html.twig" %}
    </head>
    <body>
        {% include "web/component/header.html.twig" %}

        {% block main_content %}{% endblock %}

        {% include "web/component/footer.html.twig" %}
    <!-- =================== -->
    {% include "web/component/loading_spiner.html.twig" %}
    {% block javascript %}{% endblock %}
    </body>
</html>