<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "web/layout/partial/stylesheets.html.twig" %}
        {% block matomo %}{% endblock %}
    </head>
    <body>
        {# ===== header menu ===== #}
        {% if type_header is defined and "dean_voting_session" == type_header %}
            {% include "web/component/partial/header_dean_voting_session.html.twig" %}
        {% else %}
            {% include "web/component/partial/header.html.twig" %}
        {% endif %}
        
        {% block main_content %}{% endblock %}

        {% include "web/component/partial/footer.html.twig" %}
        {# =================== #}
        {% include "web/component/loading_spiner/loading_spiner.html.twig" %}

        {{ include('web/layout/partial/js_footer.html.twig') }}

        {% block javascript %}{% endblock %}
    </body>
</html>