<div class="form-inline">
    <label>Show
        <span class="item-perpage"> <select
                class="custom-select form-control form-control-sm mx-2" id="cboLimit">
                <option selected>50</option>
                <option>100</option>
            </select> </span>
        items of <span id="spnTotalRows" style="margin: 0 10px; color: #cb9e6e;">1,065</span>
        items
    </label>
</div>
<div class="w-paging">
    <div id="spnPaging">
        <span style="float: left;padding: 5px;">in page:</span>
        <ul class="pagination mb-0">
            <li class="page-item">
                <a class="page-link" style="cursor: not-allowed;"><i
                        class="fas fa-step-backward"></i></a>
            </li>

            <!-- Begin previous page link -->
            <li class="page-item">
                <a class="page-link" style="cursor: not-allowed;"><i
                        class="fas fa-caret-left"></i></a>
            </li>

            <!-- End previous page link -->

            <!-- Begin numbered page links -->
            <li class="page-item active">
                <a class="page-link">1</a>
            </li>

            <li class="page-item">
                <a onclick="requestPage('2')" href="javascript:void(0)" class="page-link">2</a>
            </li>

            <li class="page-item">
                <a onclick="requestPage('3')" href="javascript:void(0)" class="page-link">3</a>
            </li>

            <li class="page-item">
                <a onclick="requestPage('4')" href="javascript:void(0)" class="page-link">4</a>
            </li>

            <li class="page-item">
                <a onclick="requestPage('5')" href="javascript:void(0)" class="page-link">5</a>
            </li>
            <!-- End numbered page links -->

            <li class="page-item">
                <a onclick="requestPage('2')" href="javascript:void(0)" class="page-link"><i
                        class="fas fa-caret-right"></i></a>
            </li>

            <!-- End next page link -->
            <li class="page-item">
                <a onclick="requestPage('22')" href="javascript:void(0)" class="page-link"
                    aria-label="Last"><i class="fas fa-step-forward"></i></a>
            </li>
        </ul>
    </div>
</div>
